*{
    background-color: gray;
}

#image-container {
    width: 80%; height: 95vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

#loaded-image {
    width: 100%; height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.ripple {
    background: radial-gradient(circle, transparent 1%, rgba(0,0,0,0.1) 1%) center/15000%;
    animation: rippleEffect 3s linear;
}

@keyframes rippleEffect {
    to {
        background-size: 300%;
    }
}
